.friends-navigation {
    width: 100vw;
    height: 4rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-go-back-icon,
.friends-friends-icon,
.friends-requests-icon {
    width: 2rem;
    height: 2rem;
    margin: 1.25rem;
}