.profile-settings-background {
    background-color: var(--primary);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-settings-navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.profile-settings-icon {
    width: 2rem;
    height: 2rem;
    margin: 1.25rem;
}

.logout-button {
    background: none;
	/* color: inherit; */
}

.snoopy-doggo {
    /* Original size 443 × 626 */
    max-height: 210px;
    max-width: 150px;
    margin: 0 25vw 0 25vw;
    /* background-color: var(--light-mint); */
}

.profile-settings-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.profile-settings-link {
    width: 100vw;
    height: 4.25rem;
    font-size: 1.5rem;
    border-top: 1px solid black;
    text-decoration: none;
    color: black;
}
